.form {
    width: 600px;
    outline: 3px solid rgb(5, 252, 26);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.form-field {
    outline: 1px dotted teal;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

}
.form-field input {
    margin: 0;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 20px;
}

.form-field lable {
    margin-bottom: 5px;
}

.form-field input::placeholder {
    color: purple;
}

.group-title {
    margin-top: 0;
    margin-bottom: 10px;
}

.group {
    margin-bottom: 20px;
}

.topic-options,
.experience-options {
    margin: 0;
    padding: 0;
    list-style: none;
}

.topic-options input[type="checkbox"] {    
}

.topic-options label {
    font-size: 20px;
    color: #6b8b24; 
    margin-left: 10px;
}

.topic-options li {
    display: flex;
    align-items: center;
}

.form .date {
    border-color: orchid;
    border-width: 3px;
    border-radius: 4px;
    background-color: powderblue;
}

.comment {
    padding: 8px;
    background-color: rgb(138, 243, 247);
    border-radius: 6px;
} 