:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --hero-title-color: #FFFFFF;
    --contacts-color: rgba(255, 255, 255, 0.6);
    --hero-background-color: #2F303A;
    --main-background-color: #E5E5E5;
    --secondary-background-color: #F5F4FA;
    --icon-gray-color: #afb1b8;
    --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
        
        /*Body*/
.page {
    color: var(--primary-text-color);  
    background-color: #FFFFFF;
    font-family: roboto, sans-serif;
    letter-spacing: 0.03em;   
}

.list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
} 

        /*header*/   
.header-style {
    background-color: var(--hero-title-color);     
    letter-spacing: 0.02em;   
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;    
   }

.page-header {
    margin-bottom: 124px;
    border-bottom: 1px solid #ececec;
}

.header-style .link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
  }
.header-contacts {
    display: flex;
    margin-left: auto;
    align-items: center;
}
.site-nav .link.current::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
  
    height: 4px;
    width: 100%;
    background-color: var(--accent-color);
    border-radius: 2px;
  }

.header-contacts .icon-email:hover,
.header-contacts .icon-smart:hover {
 color: var(--accent-color);
 fill: var(--accent-color);
 transition: var(--timing-function);
}

.header-contacts .icon {
    
    --color2: currentColor;
    --color5: currentColor;
  }

.contact-info .icon:hover {
    color: var(--accent-color);
    transition: var(--timing-function);
} 


        /*site-nav*/
.site-nav {
    display: flex;
    margin-left: 93px; 
}

.site-nav .item {
    position: relative;
  }

.site-nav .link.current {
    color: var(--accent-color);
  }


.site-nav .item + .item {
    margin-left: 50px;
}

.site-nav a {
    color: var(--title-text-color);
 
    display: block;    
}



.site-nav a:hover,
.site-nav a:focus {
    color: var(--accent-color);
    transition: var(--timing-function);
}
.main-nav {
    display: flex;
    align-items: center; 
}

.portfolio-filtr button:hover,
.portfolio-filtr button:focus {
    background-color:var(--accent-color);
    color:var(--hero-title-color) ;
    transition: var(--timing-function);
}

.contact-info a:hover,
.contact-info a:focus {
    color: var(--accent-color);
    transition: var(--timing-function);
}

/* .contact-info icon-email:hover {
    color: var(--accent-color);
    transition: var(--timing-function);
} */

.contact-info {
    margin-bottom: 0px;
    margin-top: 0px;
    display: flex;
    margin-left: 305px;
    
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71; 
}
.contact-info a {
    padding-top: 21px;
    padding-bottom: 21px;
    font-style: normal;
    color: var(--primary-text-color);   
}
.contact-info .item + .item {
    margin-left: 30px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid transparent;
    width: 1200px;    
    padding-left: 15px;
    padding-right: 15px;     
}

        /*hero*/
.hero {
    display: flex;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    
    background-color: var(--hero-background-color); 
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        url(../images/header-img\ .jpg);              
    background-size: cover;
    background-position: center;
    text-align: center;
    margin-bottom: 94px;      
}
.hero .container {
    margin-left: auto;
    margin-right: auto;
    width: 696px;
}

.hero-title {
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align:center;
    color: var(--hero-title-color);
    letter-spacing: 0.06em;
    text-transform: uppercase;
}  

.hero-button {
    display: inline-block;
    padding: 10px 32px;    
    min-width: 200px;

    font-size: 16px;    
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align:center;
    
    border-radius: 4px;
    border: none;

    color: var(--hero-title-color);
    background-color: var(--accent-color);

    cursor: pointer;
} 

.list-item {
    width: 270px;
    
}
.list-item::before{
    display: block;
    content: "";    
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
 
}

.icon-antenna::before {
    background-image: url(../images/antenna\ 1.svg);
}

.icon-clock::before {
    background-image: url(../images/clock\ 1.svg);
}

.icon-diagram::before {
    background-image: url(../images/diagram\ 1.svg);
}

.icon-astronaut::before {
    background-image: url(../images/astronaut\ 1.svg);
}

.current-portfolio-button {
    color: var(--hero-title-color);
    background-color: var(--accent-color);
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    border-radius: 4px;
    padding: 6px 22px;
    border: 1px solid transparent;
}
.portfolio-button {
    color: var(--title-text-color);
    background-color: var(--secondary-background-color);
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    border-radius: 4px;
    padding: 6px 22px;
    border: 1px solid transparent;
}

        /*section*/
.prima-section-title,
.second-section-title {
    color: var(--title-text-color);
}
.team-title {        
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
    text-align: center;
}
.prima-section-title {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.prima-section-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    
}
.second-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align:center;
    margin-bottom: 61px;
    margin-top: 0px;
}
.third-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align:center;
    margin-bottom: 50px;
    margin-top: 0px;
    
}

.company-functions {
    display: flex;
    padding-bottom: 94px;
   
}

.company-functions .item {
    position: relative;
}

.company-functions li + li {
    margin-left: 30px;
}

.service-text{
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 27px 15px;    
    margin: 0;

    color: var(--hero-title-color);
    text-transform: uppercase;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;

    background-color: rgba(47, 48, 58, 0.8);
}

.company-team {    
    display: flex; 
}
.company-team li + li {
    margin-left: 30px;  
}

.company-team p {    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 18px; 
    text-align: center;               
}


.company-merits {    
    margin-bottom: 83px;
    display: flex;
}
.company-merits li:not(:last-child) {
    margin-right: 30px;
}

.company-merits p {
    margin-top: 0px;
    
}

.portfolio-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolio-type {
    color: var(--primary-text-color);  
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;  
}
button {
    font-family: inherit;
}

        /*team*/

.team {
    background-color: var(--secondary-background-color);
    padding-top: 94px;
    padding-bottom: 94px;
}



.team-card {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    width: calc((100% - 90px) / 4);
    text-align: center;
}


    /*button under team cards*/
.social-network {
    display: flex;
    padding: 0;
    margin: 0;     
    list-style: none;
  }
  
  .social-network .link:hover {
    background-color: var(--accent-color);
    transition: var(--timing-function);
  }
  
  .social-network .list:last-child {
    margin-right: 0;
  }  
  .social-network .link {
    display: flex;
    height: 44px;
    width: 44px;
    align-items: center;
  
    border-radius: 50%;
    margin-right: 10px;
    color: var(--icon-gray-color);
  }
  
  .social-network .link:hover {
    color: var(--hero-title-color);
    transition: var(--timing-function);
  }
  
  .social-network .button-icon {
    height: 20px;
    width: 20px;
    margin-left: auto;
    margin-right: auto;
    fill: currentColor;
  }
  .social-network .list {
      margin-left: 0;
  }
.card-bottom {
    padding: 30px 32px;
}


/* Clients */

.clients-title {
    margin-bottom: 50px;
  
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  
    color: var(--title-text-color);
  }
  
.clients-lists {
    display: flex;
    margin: 0 -15px;
  }
  
.clients .list {
    display: inline-block;
    margin: 0 15px;
  }
  
.clients .link {
    display: flex;
    width: 170px;
    height: 90px;
    align-items: center;
    justify-content: center;
  
    border: 1px solid var(--icon-gray-color);
    border-radius: 4px;
    color: var(--icon-gray-color);
  }
  
.clients .link:hover,
.clients .link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
    transition: var(--timing-function);   
  }
  
.clients .icon {
    fill: currentColor;
  }

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}


            /*footer*/
footer {
    background-color: var(--hero-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

footer img {
    margin-bottom: 20px;
}

.footer .mail {    
    margin-bottom: 9px;
}

.footer-container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

.footer-contacts {
    margin-right: 70px;
  }

.footer-networks {
    margin-right: 93px;
}  

.footer-title {
    display: inline-block;
    margin-bottom: 20px;
  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--hero-title-color);
}

.footer-contacts .list:not(:last-child) {
    margin-right: 10px;
  }


.footer-networks .link {
    display: inline-block;
    height: 44px;
    width: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
  }  

  .footer-networks .icon-instagram {
    background-image: url('../images/instagram 2 f.svg');
  }
  .footer-networks .icon-twitter {
    background-image: url('../images/twitter 1 f.svg');
  }
  .footer-networks .icon-facebook {
    background-image: url('../images/facebook\ 1\ f.svg');
  }
  .footer-networks .icon-linkedin {
    background-image: url('../images/linkedin\ 1\ f.svg');
  }
  
  .footer-networks .icon-instagram:hover,
  .footer-networks .icon-twitter:hover,
  .footer-networks .icon-facebook:hover,
  .footer-networks .icon-linkedin:hover {
    background-color: var(--accent-color);
    transition: var(--timing-function);
  }

  .footer-icon {
    display: flex;
    padding: 0;
    margin: 0;
  }

.form-subscribe input {
    width: 358px;
   
    padding: 15px;
    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;
}
.form-subscribe input::placeholder {
    color: var(--contacts-color);     
}


.form-subscribe .footer-button {
    display: flex;
    padding: 10px 29px;
    margin: 0;
    min-width: 200px;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
  
    border-radius: 4px;
    border: none;
  
    color: var(--hero-title-color);
    background-color: var(--accent-color);
  
    cursor: pointer;
  }

  .form-subscribe .footer-button::after {
  display: inline-block;
  content: '';
  width: 24px;
  height: 24px;
  margin-left: 10px;

  background-image: url('../images/icon send.svg');
}

.form-subscribe form {
    display: flex;
  }


a.mail {
    margin-top: 0px;
    margin-bottom: 9px;
}

a.telephone {
    margin-top: 0px;
    margin-bottom: 60px;
}

.footer {
    box-sizing: border-box;
    display: block;
}
    
.footer-contact {
    color:rgba(255, 255, 255, 0.6);
}



.header-portfolio {
    margin-bottom: 94px;
}

.portfolio-filtr {
    display: flex;    
        
    justify-content: center;
    border: 1px solid transparent;
}
.portfolio-filtr-container {
   
    height: 54px;
    margin-bottom: 34px;
}
.portfolio-filtr li + li {
    margin-left: 8px;
}

.webstudio-portfolio img {
    margin-top: 0px;
    margin-bottom: 20px;
}

.webstudio-portfolio h2 {
    margin-top: 0px;
    margin-bottom: 4px;
}

.webstudio-portfolio p {
    margin-top: 0px;
    margin-bottom: 20px;
}
.webstudio-portfolio .item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 0;
    padding-left: 0;
    background-color: var(--hero-title-color);
    border: 1px solid #eeeeee;    
}

.webstudio-portfolio .item:hover,
.webstudio-portfolio .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  transition: var(--timing-function);
}

.webstudio-portfolio .item:nth-child(3n) {
    margin-right: 0;
}
.webstudio-portfolio .item:nth-child(-n+6) {
    margin-bottom: 30px;
}

.image-part {
    position: relative;
    overflow: hidden;
  }

.webstudio-portfolio a:hover .overlay-text,
.webstudio-portfolio a:focus .overlay-text {
  transform: translateY(0);
}

.overlay-text {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
  
    margin: 0;
    width: 100%;
    height: 100%;
    /* padding: 63px 24px; - размеры границ для текста из макета */
  
    font-size: 18px;
    line-height: 1.56;
    color: var(--hero-title-color);
    text-transform: uppercase;
    text-align: center;
    
    align-items: center;  
    background-color: rgba(33, 150, 243, 0.9);
  
    overflow: hidden;
    transform: translateY(100%);
    transition: transform var(--timing-function);
}

.text-part {
    padding: 20px 24px;    
}


.webstudio-portfolio {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 94px;
}

.section-title.centered {
    text-align: center;
}


/* Modal button */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 100%;
  
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
  
    min-width: 528px;
    min-height: 580px;
  
    transform: translate(-50%, -50%);
    background-color: var(--hero-title-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }

  .form {
    display: flex;
    flex-direction: column;
  
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  
    color: var(--primary-text-color);
  }
  
  .form-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .form-label .input-window,
  .form-label .comment {
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
  }

  .input-window {
    width: 100%;
    height: 40px;
    padding: 11px 42px;

    color: var(--title-text-color);
  }

  .form-label .input-window:focus,
  .form-label .comment:focus {
    outline-color: var(--accent-color);
  }

  .input-window:focus + .form-icon {
    fill: var(--accent-color);
  }

  .comment {
    padding: 12px 16px;
  }
  
  .comment::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  .form-text {
    display: inline-block;
    margin-bottom: 4px;
  }
  
  .form-label textarea {
    margin-bottom: 20px;
  }

  .modal-title {
    display: block;
    margin-bottom: 12px;
  
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;
  
    color: var(--title-text-color);
  }

  .form-policy {
    display: flex;
    margin-bottom: 30px;
  
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    align-items: center;
  }

  .checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .policy-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 8px;
  
    border: 2px solid #000000;
    border-radius: 2px;
  }

  .checkbox:checked + .policy-icon {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    background-image: url('../images/icon check .svg');
    background-size: contain;
    background-origin: border-box;
  }

  .form-policy .link {
    margin-left: 5px;
    color: var(--accent-color);
    text-decoration: underline;
  }

  .input-window {
    position: relative;
  }

  .form-icon {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
  
    fill: var(--title-text-color);
  }

  .form .button {
    display: inline-block;
    padding: 10px 32px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    color: var(--hero-title-color);
    background-color: var(--accent-color);
  
    cursor: pointer;
  }
  
  .modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    width: 30px;
    height: 30px;
    padding: 0;
    align-items: center;
    justify-content: center;
    color: #000000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--hero-title-color);
    border-radius: 50%;

    cursor: pointer;
    transition-property: color;
    transition-timing-function: var(--timing-function);
  }

  .icon-close {
    width: 11px;
    height: 11px;
    margin-left: auto;
    margin-right: auto;
  
    fill: currentColor;
  }

  .modal-close:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
}

  
 