:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --hero-title-color: #FFFFFF;
    --contacts-color: rgba(255, 255, 255, 0.6);
    --hero-background-color: #2F303A;
    --main-background-color: #E5E5E5;
    --secondary-background-color: #F5F4FA;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
        
        /*Body*/
.page {
    color: var(--primary-text-color);  
    background-color: #FFFFFF;
    font-family: roboto, sans-serif;
    letter-spacing: 0.03em;   
}

.list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

        /*header*/   
.header-style {
    background-color: var(--hero-title-color);    
    letter-spacing: 0.02em;   
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;    
   }

.container {
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid transparent;
    width: 1200px;    
    padding-left: 15px;
    padding-right: 15px;
}

.page-header {
    margin-bottom: 93px;
}

        /*site-nav*/
.site-nav {
    display: flex;
    margin-left: 93px;
}


.site-nav .item + .item {
    margin-left: 50px;
}

.site-nav a {
    color: var(--title-text-color);
    padding-top: 21px;
    padding-bottom: 21px;
    display: block;    
}

.site-nav a.current {
    color: var(--accent-color);
}

.site-nav a:hover,
.site-nav a:focus {
    color: var(--accent-color);
}
.main-nav {
    display: flex;
    align-items: center;    
}

.portfolio-filtr button:hover,
.portfolio-filtr button:focus {
    background-color:var(--accent-color);
    color:var(--hero-title-color) ;
}

.contact-info a:hover,
.contact-info a:focus {
    color: var(--accent-color);
}

.contact-info {
    margin-bottom: 0px;
    margin-top: 0px;
    display: flex;
    margin-left: 331px;
    
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71; 
}
.contact-info a {
    padding-top: 21px;
    padding-bottom: 21px;    
}
.contact-info .item + .item {
    margin-left: 50px;
}


        /*hero*/
.hero {
    color: var(--hero-title-color);
    background-color: var(--hero-background-color);
    letter-spacing: 0.06em;
    text-align: center; 
    margin-bottom: 94px;
    padding-top: 200px;      
    padding-bottom: 200px;
}

.hero-title {
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align:center;
}  

.hero-button {
    color: var(--hero-title-color);
    background-color: var(--accent-color);
    padding: 10px 32px;
    display: inline-block;
    font-size: 16px;    
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align:center;
    border-radius: 4px;
    border: 1px solid transparent;
} 
.current-portfolio-button {
    color: var(--hero-title-color);
    background-color: var(--accent-color);
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    border-radius: 4px;
    padding: 6px 22px;
    border: 1px solid transparent;
}
.portfolio-button {
    color: var(--title-text-color);
    background-color: var(--secondary-background-color);
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    border-radius: 4px;
    padding: 6px 22px;
    border: 1px solid transparent;
}

        /*section*/
.prima-section-title,
.second-section-title {
    color: var(--title-text-color);
}
.team-title {        
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
    text-align: center;
}
.prima-section-title {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 10px;
}
.prima-section-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    
}
.second-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align:center;
    margin-bottom: 61px;
    margin-top: 0px;
}
.third-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align:center;
    margin-bottom: 50px;
    margin-top: 0px;
    
}

.company-functions {
    display: flex;
    padding-bottom: 94px;
}
.company-functions li + li {
    margin-left: 30px;
}

.company-team {    
    display: flex; 
}
.company-team li + li {
    margin-left: 30px;  
}

.company-team p {    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 30px; 
    text-align: center;               
}
.company-team img {
    margin-bottom: 30px;
}

.company-merits {    
    margin-bottom: 83px;
    display: flex;
}
.company-merits li:not(:last-child) {
    margin-right: 30px;
}

.company-merits p {
    margin-top: 0px;
    
}

.portfolio-title {
    color: var( --title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolio-type {
    color: var(--primary-text-color);  
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;  
}
button {
    font-family: inherit;
}

        /*team*/
.team {
    background-color: var(--secondary-background-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

a {
    text-decoration: none;
} 

            /*footer*/
footer {
    background-color: var(--hero-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

footer img {
    margin-bottom: 20px;
}

footer p {
    margin-top: 0px;
    margin-bottom: 9px;
}

a.mail {
    margin-top: 0px;
    margin-bottom: 9px;
}

a.telephone {
    margin-top: 0px;
    margin-bottom: 60px;
}

.footer {
    box-sizing: border-box;
    display: block;
}
    
.footer-contact {
    color:rgba(255, 255, 255, 0.6);
}

.header-portfolio {
    margin-bottom: 94px;
}

.portfolio-filtr {
    display: flex;    
        
    justify-content: center;
    border: 1px solid transparent;
}
.portfolio-filtr-container {
   
    height: 54px;
    margin-bottom: 34px;
}
.portfolio-filtr li + li {
    margin-left: 8px;
}

.webstudio-portfolio img {
    margin-top: 0px;
    margin-bottom: 20px;
}

.webstudio-portfolio h2 {
    margin-top: 0px;
    margin-bottom: 4px;
}

.webstudio-portfolio p {
    margin-top: 0px;
    margin-bottom: 20px;
}
.webstudio-portfolio li {
    width: 370px;
    margin-right: 30px;
    margin-left: 0;
    padding-left: 0;    
}
.webstudio-portfolio li:nth-child(3n) {
    margin-right: 0;
}
.webstudio-portfolio li:nth-child(-n+6) {
    margin-bottom: 30px;
}

.webstudio-portfolio {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 94px;
}

.section-title.centered {
    text-align: center;
}