@import './utils/_variables';
@import './utils/placeholders';

@import './base/_base-style';
@import './components/commons/container';
@import './components/_header';

@import './components/main/_hero';
@import './components/main/_features';
@import './components/main/_services';
@import './components/main/_team';
@import './components/main/_clients';
@import './components/_footer';
@import './components/main/_modal';

@import './components/portfolio/_buttons';
@import './components/portfolio/_projects'