/* Clients */


.clients-title {
  @extend %title;  
  
  color: $title-text-color;

  @media screen and (min-width: $desktop) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
  
.clients-lists {
    display: flex;
    margin: 0 -15px;
  }
  
.clients .list {
    display: inline-block;
    margin: 0 15px;
  }
  
.clients .link {
    display: flex;
    width: 170px;
    height: 90px;
    align-items: center;
    justify-content: center;
  
    border: 1px solid $icon-gray-color;
    border-radius: 4px;
    color: $icon-gray-color;

    &:hover,
    &:focus {
    color: $accent-color;
    border-color: $accent-color;
    transition: $timing-function;  
    }    
  }  
.clients .icon {
    fill: currentColor;
  }
// .clients {
//     padding-top: 94px;
//     padding-bottom: 94px;
//   }