        /*hero*/
        .hero {
            display: flex;
            max-width: 1600px;
            height: 600px;
            margin-left: auto;
            margin-right: auto;
            align-items: center;
            
            background-color: $hero-background-color; 
            background-image: linear-gradient(
                to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
                ),
                url('../images/header-img\ .jpg');              
            background-size: cover;
            background-position: center;
            text-align: center;
            margin-bottom: 94px;      
        }
        .hero .container {
            margin-left: auto;
            margin-right: auto;
            width: 696px;
        }
        
        .hero-title {
            margin-top: 0px;
            margin-bottom: 30px;
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;
            text-align:center;
            color: $hero-title-color;
            letter-spacing: 0.06em;
            text-transform: uppercase;
        }  
        
        .hero-button {
            display: inline-block;
            padding: 10px 32px;    
            min-width: 200px;
        
            font-size: 16px;    
            font-weight: 700;
            line-height: 1.88;
            letter-spacing: 0.06em;
            text-align:center;
            
            border-radius: 4px;
            border: none;
        
            color: $hero-title-color;
            background-color: $accent-color;
        
            cursor: pointer;
        } 