  /* Services block (company functions) */
//   .second-section-title {
//     font-size: 36px;
//     font-weight: 700;
//     line-height: 1.17;
  
//     text-align:center;
//     margin-bottom: 61px;
//     margin-top: 0px;
//   }

  .second-section-title {
    @extend %title;
    margin-bottom: 61px;
  }

  .company-functions {
      display: flex;
      padding-bottom: 94px;   
  }
  
  .company-functions .item {
      position: relative;
  }
  
  .company-functions li + li {
      margin-left: 30px;
  }
  
  .service-text{
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 0;
  
      width: 100%;
      padding: 27px 15px;    
      margin: 0;
  
      color: $hero-title-color;
      text-transform: uppercase;
      text-align: center;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
  
      background-color: rgba(47, 48, 58, 0.8);
  }