  /* Team block */

  .company-team {    
    display: flex; 
}
.company-team li + li {
    margin-left: 30px;  
}
.team-title {    
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;

  text-align: center;
  margin-bottom: 10px;
  color: $title-text-color;
}
// .third-section-title {
// font-size: 36px;
// font-weight: 700;
// line-height: 1.17;

// text-align:center;
// margin-bottom: 50px;
// margin-top: 0px;    
// }

.third-section-title {
  @extend %title;
  margin-bottom: 50px;   
}

.company-team p {    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 18px; 
    text-align: center;               
}

        /*team*/

.team {
    background-color: $secondary-background-color;
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-card {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    width: calc((100% - 90px) / 4);
    text-align: center;
}

    /*button under team cards*/
.social-network {
    display: flex;
    padding: 0;
    margin: 0;     
    list-style: none;
  }
  
  .social-network .link:hover {
    background-color: $accent-color;
    transition: $timing-function;
    color: $hero-title-color;
  }
  
  .social-network .list:last-child {
    margin-right: 0;
  }  
  .social-network .link {
    display: flex;
    height: 44px;
    width: 44px;
    align-items: center;
  
    border-radius: 50%;
    margin-right: 10px;
    color: $icon-gray-color;
  }
  
  .social-network .link:hover {
    color: $hero-title-color;
    transition: $timing-function;
  }
  
  .social-network .button-icon {
    height: 20px;
    width: 20px;
    margin-left: auto;
    margin-right: auto;
    fill: currentColor;
  }
  .social-network .list {
      margin-left: 0;
  }
.card-bottom {
    padding: 30px 32px;
}
