/* Portfolio buttons */

// .portfolio-filtr button:hover,
// .portfolio-filtr button:focus {
//     background-color: $accent-color;
//     color: $hero-title-color;
//     transition: $timing-function;
// }




.portfolio-filtr {
  display: flex;    
      
  justify-content: center;
  border: 1px solid transparent;
}
.portfolio-filtr-container {
 
  height: 54px;
  margin-bottom: 34px;
}
.portfolio-filtr li + li {
  margin-left: 8px;
}