    $primary-text-color: #757575;
    $title-text-color: #212121;
    $accent-color: #2196F3;
    $hero-title-color: #FFFFFF;
    $contacts-color: rgba(255, 255, 255, 0.6);
    $hero-background-color: #2F303A;
    $main-background-color: #E5E5E5;
    $secondary-background-color: #F5F4FA;
    $icon-gray-color: #afb1b8;
    $timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    